.choicify-tools-page {

  .page {
    top: 46px;

    .content {

      .content-container {
        top: 0;
        padding-top: 2em;

        .content-container-inner {
          width: 960px;
          margin: 0 auto;
          
          .coral-FileUpload-dropZone {
	      	position: relative;
	  		max-width: 100%;
	 		padding: 15px;
	  		margin: 15px auto;
	  		border: 1px dashed rgba(0, 0, 0, 0.2);
	  		border-radius: 5px;
	  		text-align: center;
	      }
        }
      }

      .section {
        margin: 2em 0;

        h2 {
          margin-bottom: .5em;
        }
      }

      .result {
        font-size: 1.25em;
        line-height: 1.4em;

        p {
          background-color: white;
          border: solid 1px #ccc;
          padding: 1em;
        }
      }

      .results {
        margin-top: 2em;

        h2 {
          margin-bottom: .5em;
        }
      }
    }
  }
}

