<div class="site-wrap">    
    <sly data-sly-include="header.html" data-sly-unwrap></sly>
    <div class="body" role="main">
        <sly data-sly-include="content.html" data-sly-unwrap></sly>
    </div> 
</div>

<sly data-sly-include="footer.html" data-sly-unwrap></sly>
