<sly
        data-sly-use.head="/libs/wcm/foundation/components/page/head.js"
        data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"        
        data-sly-unwrap>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <meta name="format-detection" content="telephone=no">
    <meta name="description" data-sly-attribute.content="${head.description @context='html'}" >
    <meta name="keywords" data-sly-attribute.content="${head.keywords @context='html'}">
    
    <!--/* Initializes the Experience Manager authoring UI */-->
    <sly data-sly-include="author.html"></sly>
    
    <sly data-sly-include="headlibs.html" data-sly-unwrap></sly>
    <link rel="icon" type="image/vnd.microsoft.icon" href="${head.faviconPath}">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="${head.faviconPath}">
    <title>${head.title}</title>
</sly>